

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
.promo {
    height: 800px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 38px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}
.logo .logo_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 9.5px;

}
h1 {
    margin-top: 51px;
}
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
 }

 .simple .title_big {
    margin: 20.5px 0 20.5px 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
 }

 .promo .promo_text {
    padding: 0 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 22.5px;
 }

 .promo .promo_text span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #F9BF3B;  
 }

 .promo .promo_btn, .gift .promo_btn {
    
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
 }

 .gift .promo_btn {
     margin-top: 51px;
 }

 .more {
     margin-top: 73px;
 }

 .more .more_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    align-items: center;
    text-align: center;    
    color: #FFFFFF;
    text-transform: uppercase;
 }

 .more .more_img {
   display: block;
   margin: 0 auto;  
   margin-top: 4.5px;
 }

 .waiting {
   min-height : 607px;
   background: #EFEFEF;
   padding: 85px 0 75px 0;
 }



 .waiting .waiting_header, .finish .finish_header {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 30px;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #252525;
 }

 .finish .finish_header{
    color: #EFEFEF;
 }

.waiting .waiting_divider, .finish .finish_divider {
   display: block;
   margin: 0 auto;
   width: 220px;
   height: 7px;
   background: #F9BF3B;
   margin-top: 18px;
 }

 .waiting .waiting_subheader {
   margin-top: 18.5px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 23px;
   align-items: center;
   text-align: center;
   color: #4A4A4A;
 }

 .waiting .waiting_wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 45px;
 }

 .waiting .waiting_wrapper .waiting_item {
   width: 342px;
   text-align: center;
 }

 .waiting .waiting_wrapper .waiting_descr {
   margin-top: 26px;
   font-family: Roboto;
   font-weight: 300;
   font-size: 15px;
   line-height: 21px;
   color: #4A4A4A;
 }

 .optimization {
   min-height: 550px;
   padding: 163px 0 72px 0;
 }

 .optimization .optimization_header {
   margin-left: 391px;
   font-family: Roboto;
   font-style: normal;
   font-weight: 900;
   font-size: 28px;
   text-transform: uppercase;
   color: #299CBD;
 }

 .optimization .optimization_text {
    margin-left: 391px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-top: 20px;
 }

 .optimization .optimization_text span {
    font-weight: bold;
 }
 .optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
 }

 .finish {
     min-height: 445px;
     padding: 86px 0 68.5px 0;
     background: url('/src/img/bg/second_bg.png') center center/cover no-repeat;

 }
 .finish .finish_wrapper {
     margin-top: 41px;
     display: flex;
     justify-content: space-between;
 }
 .finish .finish_wrapper .finish_item {
     width: 204px;
 }

 .finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background: #B4E2FF;
    border-radius: 100%;
 }

 .finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    color: #EFEFEF;
 }

 .gift {
     min-height: 628px;
     padding: 85px 0 87px 0;
     background: #EFEFEF;
 }

 .gift .gift_img {
    display: block;
    margin: 0 auto;
 }

 .gift .gift_descr {
     font-family: Roboto;
     font-size: 30px;
     line-height: 43px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #252525;
     margin-top: 45px;
 }

 .firstweb {
    display: flex;
    min-height: 512px;
     padding: 81px 0 50.5px 0;
 }

 .firstweb .firstweb_img {
    display: block;
    margin: 0 auto;
    
 }
 .firstweb .firstweb_text {
    margin-top: 36px;
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    
 }

 .firstweb_text1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
 }

 .firstweb_text2 {
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 24.5px;
 }

 .footer {
min-height: 167px;
background-color: #1A1A1A;
padding: 57px 0 69px 0;
}

.footer .footer_text {
font-family: Roboto;
font-weight: 300;
font-size: 15px;
line-height: 21px;
text-align: center;
text-decoration-line: underline;
color: #888888;
}
.footer .footer_text span {
    text-decoration: none;
}
a:visited {
    color: #888888;
}
